amqp==5.2.0
argcomplete==3.2.3
asgiref==3.7.2
attrs==23.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
build==1.1.1
CacheControl==0.14.0
celery==5.3.6
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
crashtest==0.4.1
cron-descriptor==1.4.3
cryptography==41.0.7
defusedxml==0.8.0rc2
distlib==0.3.8
Django==4.2.7
django-celery-beat==2.5.0
django-cors-headers==4.3.1
django-debug-toolbar==4.0.0
django-filter==23.5
django-grpc==1.0.21
django-socio-grpc==0.22.9
django-templated-mail==1.1.1
django-timezone-field==6.1.0
djangogrpcframework==0.2.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
djoser==2.2.2
dnspython==2.5.0
drf-extra-fields==3.7.0
drf-spectacular==0.27.0
drf-spectacular-sidecar==2024.1.1
drf-yasg==1.21.7
dulwich==0.21.7
et-xmlfile==1.1.0
eventlet==0.35.1
Faker==26.2.0
fastjsonschema==2.19.1
ffmpeg-python==0.2.0
filelock==3.13.1
filetype==1.2.0
flake8==7.0.0
future==1.0.0
google==3.0.0
greenlet==3.0.3
grpc-django==1.0.0
grpcio==1.66.1
grpcio-health-checking==1.66.1
grpcio-tools==1.66.1
gunicorn==21.2.0
identify==2.5.33
idna==3.6
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
isort==5.13.2
jaraco.classes==3.3.1
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
kombu==5.3.5
lark-parser==0.12.0
leaflet==0.0.3
mccabe==0.7.0
more-itertools==10.2.0
msgpack==1.0.8
nodeenv==1.8.0
numpy==2.1.0
oauthlib==3.2.2
openpyxl==3.1.2
packaging==23.2
pandas==2.2.2
pendulum==3.0.0
pexpect==4.9.0
pika==1.3.2
pillow==10.2.0
pipx==1.4.3
pkginfo==1.10.0
platformdirs==4.1.0
pluggy==1.5.0
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.7.0
pre-commit==3.6.0
prettytable==3.11.0
prompt-toolkit==3.0.43
protobuf==5.28.2
psycopg==3.1.17
psycopg2==2.9.9
ptyprocess==0.7.0
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.2.0
PyJWT==2.8.0
pyproject_hooks==1.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pytest==8.3.3
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python3-openid==3.2.0
pytz==2023.3.post1
pywin32-ctypes==0.2.2
PyYAML==6.0.1
rapidfuzz==3.6.2
redis==5.0.1
referencing==0.32.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rpds-py==0.17.1
setuptools==69.2.0
shellingham==1.5.4
six==1.16.0
social-auth-app-django==5.4.0
social-auth-core==4.5.1
soupsieve==2.6
sqlparse==0.4.4
time-machine==2.15.0
tomlkit==0.12.4
tqdm==4.66.5
transliterate==1.10.2
trove-classifiers==2024.3.3
typing_extensions==4.9.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==2.1.0
userpath==1.9.2
vine==5.1.0
virtualenv==20.25.0
wcwidth==0.2.13
whitenoise==6.6.0
